:root{
    --bg-color: #222831;
    --bg-color-sp : #393E46;

    --text-color : #EEEEEE;
    --text-color-sp : #00ADB5;

}

*{
    text-decoration: none;
    list-style: none;
    
    padding: 0;
    margin: 0;
}

a{
    color: var(--text-color);

    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;

}

body{

    background-color: var(--bg-color);
    color: var(--text-color);

    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;

    display: flex;
    flex-direction: column;
    align-items: center;
}

nav
{

    width: 100%;

    height: 100px;

    display: flex;
    flex-direction: row;

    justify-content: space-around;
    align-items: center;

    border-bottom: var(--bg-color-sp) 1px solid;

}
nav>*{
    width: 80%;

    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
}

section{
    width: 80%;
}

span{
    color: var(--text-color-sp);
}

.navbar_link{
    width: 300px;

    justify-content: space-around;
    display: flex;
    flex-direction: row;
}

h1.titre{
    font-weight: 800;
    font-size: 10vh;
    line-height: 1;
}

.header_titre_img{
    padding-top: 20vh;
    padding-left: 10vh;
    display: flex;
    flex-direction: row;
    
    align-items: top;
    justify-content: left;
}

.header_titre>h1{
    padding-bottom: .5em;
}

.header_button{
    display: flex;
    justify-content: left;
}
.header_button>*{
    padding-right: 2em;
}

.first_img{
    padding-left: 10vh;
    height: 80vh;
    transform: translateY(-10%);
}

/* Style des boutons */
button {
    display: flex;
    flex-direction: row;
    align-items: center;
}

button > * {
    padding: 0 0.5em;
}

.btn {
    padding: 0.5em 1.5em;
    background-color: var(--text-color-sp);
    border: 0;
    color: var(--text-color);
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 1.25rem; /* Taille adaptative */
    border-radius: 20px;
    cursor: pointer;
}

/* Variante de bouton inversé */
.rever {
    background-color: var(--bg-color-sp);
    border: 0;
}

